*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color:inherit;
}

body{
	margin: 0;
	font-size: 0.9vw;
/*	user-select: none;*/
}

input, textarea, select, button{
	font-size: inherit;
	line-height: inherit;
	border: none;
	font-family: inherit;
	color: inherit;
}

.flex{
	display:flex;
}

.column{
	flex-direction:column;
}

.row{
	flex-direction:row;
}

.fullscreen{
	position: fixed;
	top:0;
	left:0;
	height:100vh;
	width:100vw;
}

.center{
	align-items: center;
	justify-content: center;
}

.hex>.left{
    float:left;
    border-top: solid transparent;
    border-bottom: solid transparent;
}

.hex>.mid{
    float:left;
    height: 100%;
    width: 50%;
}

.hex>.right{
    float:left;
    border-top: solid transparent;
    border-bottom: solid transparent;
}