/* FONT */
/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);*/
/*@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);*/

@font-face {
	font-family: 'Myriad Pro';
	src: local('Myriad Pro Regular'),
	     local('Myriad Pro'),
	     url('font/myriad.ttf'),
	     url('font/myriad.eot');
}

@font-face {
	font-family: 'Myriad Pro';
	font-weight: bold;
	src: local('Myriad Pro Bold'),
	     url('font/myriad_bold.ttf'),
	     url('font/myriad_bold.eot');
}

@font-face {
	font-family: 'Myriad Pro';
	font-weight: 900;
	src: local('Myriad Pro SemiExt'),
	     url('font/myriad_900.ttf'),
	     url('font/myriad_900.eot');
}

html {
/*	overflow-x: hidden;*/
/*	-webkit-overflow-scrolling: touch; /* Safari scroll bug */
}

body {
	font-family: 'Myriad Pro', sans-serif;
	color: #555555;
	overflow-x: hidden;
}

.nowrap {
	white-space: nowrap;
}

/* NAVBAR */
#navbar {
	position: fixed;
	top: 0;
	opacity: 0;
	width: 100%;
	height: 5vw;
	z-index: 110;
	background-color: #FFF;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
	align-items: stretch;
	transition: 200ms;
}

#navbar:hover {
	opacity: 1;
}

#navbar .logo {
	height: 4vw;
	width: 4vw; /* for IE */
	margin: 0 1vw 0 3vw;
}

#navbar .title {
	font-size: 1.5em;
	font-weight: 900;
	vertical-align: middle;
	padding-top: .1em;
	margin-right: 3vw;
}

#navbar>.button {
	flex: 1 0 0;
	padding: 0 2%;
	font-size: 2em;
	text-align: center;
	transition: 200ms;
}

#navbar>.button:hover {
	background-color: rgba(0, 0, 0, .2);
}

.nav {
	position: absolute;
}

#nav-intro {
	top: -25vw;
}

#nav-how {
	top: 8vw;
}

#nav-team {
	top: -2vw;
}

#nav-faq {
	top: -5vw;
}

/* PAGES */
.page {
	width: 100%;
	position: relative;
}

#title {
	background-image: url('img/titlebg-min.png');
	background-size: cover;
	background-position: top right;
	height: 68vw;
}

#intro {
	background-color: #A3E4D7;
	height: 25vw;
}

#intro:before {
	content: '';
	position: absolute;
	top: -20vw;
	border-bottom: 20vw solid #A3E4D7;
	border-right: 100vw solid transparent;
	z-index: 80;
}

#intro:after {
	content: '';
	position: absolute;
	bottom: -20vw;
	border-top: 20vw solid #A3E4D7;
	border-left: 100vw solid transparent;
	z-index: 80;
}

#how {
	background-color: #BBF3FC;
	height: 65vw;
}

#how:after {
	content: '';
	position: absolute;
	bottom: -10vw;
	border-top: 10vw solid #BBF3FC;
	border-right: 100vw solid transparent;
	z-index: 80;
}

#feature {
	background-color: #F9EDBB;
	margin-bottom: -5vw;
}

#feature:after {
	content: '';
	position: absolute;
	bottom: -5vw;
	border-top: 10vw solid #F9EDBB;
	border-left: 100vw solid transparent;
	z-index: 80;
}

#timeline {
	background-color: #D6CBF7;
}

#team {
	background-color: #f7f7f7;
	padding: 2vw 5vw;
}

#faq {
	background-color: #FFCC99;
	padding: 5vw 20vw;
}

#contact {
	background-color: #CCCCCC;
	padding: 5vw 20vw;
}

#notice {
	background-color: #AAAAAA;
	padding: 1vw 1vw;
}

.trans.hex {
	opacity: .5;
}

/* TITLE */
#title>#lang {
	font-size: 1.5em;
	position: absolute;
	top: 5vw;
	right: 5vw;
}

#title>#lang>select {
	background-color: rgba(255, 255, 255, .5);
	padding: .8vw 1.2vw;
	height: 2.8em;
}

#title>#lang #en {
	font-family: 'Myriad Pro', sans-serif;
}

#title>#lang #zh-tw {
	font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
}

#title>#lang #zh-cn {
	font-family: 'Noto Sans SC', 'Microsoft JhengHei', sans-serif;
}

#title .area {
	width: 80%;
	position: relative;
}

#white {
	width: 95%;
	height: 118%;
	position: absolute;
	background-color: #FFFFFF;
	transform:
		translate(-26%, -9%)
		rotate(-11deg);
	box-shadow: .5vw .5vw 2vw rgba(0, 0, 0, .2);
	z-index: 100;
}

#title .content {
	width: 80%;
	padding: 6% 8% 10% 8%;
	position: relative;
	z-index: 101;
}

#pallet {
	align-items: center;
	padding-bottom: 1em;
}

#logo {
	height: 12vw;
	width: 12vw; /* for IE */
	margin-right: 5%;
}

#pallet>span {
	font-size: 6em;
	font-weight: 900;
	vertical-align: middle;
	padding-top: .1em;
}

#title .text-a {
	font-size: 3em;
	font-weight: 400;
	margin-bottom: 0.5em;
}

#title .text-b {
	font-size: 1.5em;
	font-weight: 200;
	margin-bottom: 2em;
}

#title .button {
	font-size: 2em;
	font-weight: bold;
	padding: .4em .6em;
	margin-right: 3%;
	border: solid #555555 3px;
}

#title .button:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border: solid #555555 3px;
}

/* INTRO & HOW */
#intro .hex>.left,
#how   .hex>.left {
	border-right: solid #FFFFFF;
}

#intro .hex>.mid,
#how   .hex>.mid {
	background-color: #FFFFFF;
}

#intro .hex>.right,
#how   .hex>.right {
	border-left: solid #FFFFFF;
}

#intro .hex,
#how   .hex {
	position: absolute;
	z-index: 90;
	transition: 250ms;
	backface-visibility: hidden;
}

#intro .hex:not(.trans),
#how   .hex:not(.trans) {
	filter: drop-shadow(0 .5vw .2vw rgba(0, 0, 0, .3));
}

#intro .hex.withtext:hover,
#how   .hex.withtext:hover {
	filter: drop-shadow(0 .7vw .3vw rgba(0, 0, 0, .6));
}

#intro .hex>.text,
#how   .hex>.text {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 12% 12%;
}

#intro .hex>.text>.title,
#how   .hex>.text>.title {
	font-size: 2em;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-skip-ink: none;
}

#intro .hex>.text>p,
#how   .hex>.text>p {
	font-size: 1.25em;
	line-height: 1.25em;
}

#zcash-block p { /* exception */
	margin: .5em 0;
}

#intro .hex.big>.text,
#how   .hex.big>.text {
	padding: 12% 20%;
}

#intro .hex.big>.text>.title,
#how   .hex.big>.text>.title {
	font-size: 3.5em;
}

#intro .hex.big>.text>p,
#how   .hex.big>.text>p {
	font-size: 1.5em;
	line-height: 1.2em;
}

#intro .hex.medium>.text,
#how   .hex.medium>.text {
	padding: 12% 15%;
}

#intro .hex.medium>.text>.title,
#how   .hex.medium>.text>.title {
	font-size: 2.5em;
}

#intro .hex.medium>.text>p,
#how   .hex.medium>.text>p {
	font-size: 1.25em;
	line-height: 1.2em;
}

#intro .hex.small>.text,
#how   .hex.small>.text {
	padding: 13% 15%;
}

#intro .hex.small>.text>.title,
#how   .hex.small>.text>.title {
	font-size: 1.5em;
}

#intro .hex.small>.text>p,
#how   .hex.small>.text>p {
	font-size: 1.25em;
	line-height: 1em;
	margin: .5em 0;
}

#how>.title {
	font-size: 4em;
	width: 100%;
	padding-top: 18vw;
	text-align: center;
	font-weight: 900;
}

/* FEATURE */
#feature>.title {
	font-size: 4em;
	width: 100%;
	padding-top: 10vw;
	text-align: center;
	font-weight: 900;
}

#feature>.content {
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	flex-wrap: wrap;
	padding: 0 15%;
	text-align: center;
}

#feature>.content>.item {
	flex: 44% 0 0;
	height: 40vw;
	margin: 2vw;
	padding: 3vw;
	background-color: #FFFFFF;
	box-shadow: .3vw .3vw .4vw rgba(0, 0, 0, .2);
	transition: 250ms;
	position: relative;
	z-index: 90;
}

#feature>.content>.item:hover {
	box-shadow: .3vw .3vw .4vw rgba(0, 0, 0, .5);
}

#feature .icon {
	height: 7vw;
}

#feature .item>.title {
	font-size: 2em;
	font-weight: bold;
	text-decoration: underline;
	margin: 1.5em 0;
	height: 2em;
}

#feature .item>p {
	font-size: 1.5em;
	line-height: 1.5em;
	text-align: left;
}

/* TIMELINE */
#timeline>.title {
	font-size: 4em;
	width: 100%;
	padding-top: 10vw;
	text-align: center;
	font-weight: 900;
}

#timeline>.canvas {
	width: 100%;
	position: relative;
}

#timeline>.canvas>* {
	position: absolute;
}

#timeline>.canvas>.vline {
	background-color: #000000;
	width: .3vw; /* Sync with timeline.js!! */
}

#timeline>.canvas>.event {
	width: 1.62vw; /* Sync with timeline.js!! */
	height: 1.4vw; /* Sync with timeline.js!! */
	margin: .3vw; /* Sync with timeline.js!! */
}

#timeline>.canvas .eventBox {
	position: absolute;
	top: -.6vw;
	width: 30vw;
}

#timeline>.canvas .eventBox.emph {
	color: #000000;
	font-weight: bold;
}

#timeline>.canvas>.event:nth-child(4n)>.eventBox {
	left: 2.5vw;
	text-align: left;
}

#timeline>.canvas>.event:nth-child(4n+2)>.eventBox {
	right: 2.5vw;
	text-align: right;
}

#timeline>.canvas .eventBox .year {
	font-size: 2em;
	padding: 0 .5em;
}

#timeline>.canvas .eventBox .month {
	font-size: 2.5em;
}

#timeline>.canvas .eventBox .content {
	font-size: 1.5em;
}

#timeline>.canvas .hex>.left {
	border-right: solid #000000;
}

#timeline>.canvas .hex>.mid {
	background-color: #000000;
}

#timeline>.canvas .hex>.right {
	border-left: solid #000000;
}

/* TEAM */
#team>.title {
	font-size: 4em;
	font-weight: 900;
	text-align: center;
	margin-top: 4vw;
}

#team .person {
	position: relative;
	border-radius: 1vw;
}

#team .person>.headpic {
	text-align: center;
}

#team .person>.headpic>img{
	border-radius: 50%;
}

#team .person>.name,
#team .person>.type {
	text-align: center;
}

#team .person>.description {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 2vw;
	border-radius: 1vw;
	opacity: 0;
	background-color: rgba(0, 0, 0, .85);
	color: #FFFFFF;
	transition: 200ms;
}

#team .person>.description:hover {
	opacity: 1;
}

#team>#advisor {
	align-items: stretch;
	margin: 0 10vw;
}

#team>#advisor>.person {
	/* min-width: 50%; */
	/* Workaround of IE */
	flex: 1 0 0;
	/* background-color: #F9F9F9; */
	min-width: 20%;
	max-width: 30%;
	margin: 1vw;
	padding: 4vw 2vw;
}

#team>#advisor>.person>.headpic {
	margin: 2vw 0;
}

#team>#advisor>.person>.headpic>img {
	height: 15vw;
	width: 15vw;
	/* box-shadow: 0 0 30px 10px rgba(255,255,255,.7) inset; */
	max-height: 180px;
	max-width: 180px;
}

#team>#advisor>.person>.name {
	font-size: 3em;
	text-align: center;
	margin: .5em 0;
}

#team>#advisor>.person>.type {
	font-size: 2em;
	text-align: center;
	margin: .25em 0;
}

#team>#advisor>.person>.description {
	font-size: 1.4em;
	line-height: 1.5em;
}

#team>#advisor>.person>.description>* {
	max-width: 100%; /* Workaround of IE */
}

#team>#member {
	flex-wrap: wrap;
	align-items: stretch;
}

#team>#member>.person {
	margin: 1vw;
	padding: 1vw;
	width: calc(16.66% - 2vw);
}

#team>#member>.person>.headpic {
	margin: 2vw 0;
}

#team>#member>.person>.headpic>img {
	height: 10vw;
	width: 10vw;
}

#team>#member>.person>.name {
	font-size: 2.5em;
	text-align: center;
	margin: .5em 0;
	height: 2.5em;
}

#team>#member>.person>.type {
	font-size: 1.5em;
	text-align: center;
	margin: .25em 0;
}

#team>#other {
	flex-wrap: wrap;
	align-items: stretch;
}

#team>#other>.person {
	margin: 1vw;
	padding: 1vw;
	width: calc(16.6% - 2vw);
}

#team>#other>.person>.headpic {
	margin: 2vw 0;
}

#team>#other>.person>.headpic>img {
	height: 10vw;
	width: 10vw;
}

#team>#other>.person>.name {
	font-size: 2.5em;
	margin: .5em 0;
	height: 2.5em;
}

#team>#other>.person>.type {
	font-size: 1.5em;
	margin: .25em 0;
}

#team>#other>.person>.description {
	font-size: 1.3em;
	line-height: 1.15em;
}

#team>#other>.person>.description>* {
	max-width: 100%; /* Workaround of IE */
}

/* FAQ */
#faq>.title {
	font-size: 4em;
	width: 100%;
	text-align: center;
	font-weight: 900;
}

#faq>.question {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 1.2em;
	padding: 1%;
	line-height: 1.5em;

}

#faq>.question:hover {
	cursor: pointer;
}

#faq>.question:hover {
	text-decoration: underline;
}

#faq>.question.show:hover {
	text-decoration: underline;
}

#faq>.question.show {
	background-color: #FFB160;
}

#faq>.question {
	background-color: rgba(255, 255, 255, 0.4);
	padding-left: 4vw;
	background-image: url(img/question.png);
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 1vw 50%;
}

#faq>.answer {
	font-size: 1.5em;
	padding-left: 1.5vw;
	margin: .5em 1.5vw 0 1.5vw;
	line-height: 1.5em;
	display: none;
}

#faq>.question.show+.answer {
	display: block;
	border-left: #FF8C00 solid 3px;
}

#faq video {
	width: 80%;
	margin: 0 10%;
}

/* Contact */
#contact>.title {
	font-size: 4em;
	width: 100%;
	text-align: center;
	font-weight: 900;
	margin-bottom: 0.8em;
}

#contact .item {
	margin: 1em;
	flex-direction: row;
	display: flex;
	align-items: center;
}

#contact .item .icon {
	display: inline-block;
	margin-right: 1em;
}

#contact .item .icon img {
	width: 3vw;
	max-width: 80px;
}

#contact .item .account {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.5vw;
	height: 1.4em;
}

#contact .item .account img.emailat {
	width: 0.8em;
	margin-left: 0.3em;
	margin-right: 0.3em;
	margin-bottom: -0.15em;
	filter: contrast(0.4);
}

#notice .attention {
	font-size: 1vw;
	margin: 0 auto;
	text-align: center;
}

/* IE */
#ie {
	background-color: #FFFFFF;
	text-align: center;
	display: none;
	z-index: 200;
	padding: 20vw;
	font-size: 2em;
	opacity: 0;
}

#ie>.title {
	font-weight: bold;
	font-size: 1.5em;
}

/* LOAD */
#load {
	background-color: #FFFFFF;
	z-index: 180;
	opacity: 1;
}

#load>.wrap {
	margin: 5vw;
	transition: transform cubic-bezier(.3, -0.3, .7, 1.3) 300ms;
	transform: scale(0);
}

#load .ani {
	width: 100%;
	height: 100%;
	transition: transform cubic-bezier(.3, -0.3, .7, 1.3) 300ms;
	/* transform: rotation(0deg); */
	position: relative;
}

#load .ani>.left {
	border-right: solid #AAAAAA;
}

#load .ani>.mid {
	background-color: #AAAAAA;
}

#load .ani>.right {
	border-left: solid #AAAAAA;
}

#load .ani>.hex {
	position: absolute;
}

#load .ani>.hex>.left {
	border-right: solid #FFFFFF;
}

#load .ani>.hex>.mid {
	background-color: #FFFFFF;
}

#load .ani>.hex>.right {
	border-left: solid #FFFFFF;
}

#load>.text {
	opacity: 0;
	width: 30vw;
}

#load>.text>* {
	flex: 1 0 0;
	text-align: center;
	font-size: 3em;
}
/*coco*/
.erweima{ width:100px; height:100px; padding:20px 20px 0 0;}
