body {
	font-family: 'Myriad Pro', 'Noto Sans SC', 'Microsoft JhengHei', sans-serif;
}

#title {
	height: 65vw;
}

#white {
	width: 90%;
}

#intro .hex>.text>p,
#how   .hex>.text>p {
	line-height: 1.5em;
}

#intro .hex.big>.text>p,
#how   .hex.big>.text>p {
	line-height: 1.5em;
}

#intro .hex.medium>.text>p,
#how   .hex.medium>.text>p {
	line-height: 1.5em;
}

#intro .hex.small>.text>p,
#how   .hex.small>.text>p {
	line-height: 1.5em;
}