/*
 *
 *   INSPINIA Landing Page - Responsive Admin Theme
 *   Copyright 2014 Webapplayers.com
 *
*/
/* GLOBAL STYLES
-------------------------------------------------- */
body {
  color: #676a6c;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}
input,textarea{appearance: none; -webkit-appearance: none;　-moz-appearance:none; }
span.navy {
  color: #1ab394;
}
p.text-color {
  color: #676a6c;
}
a.navy-link {
  color: #1ab394;
  text-decoration: none;
}
a.navy-link:hover {
  color: #17a185;
}
section p {
  color: #919daf;
  font-size: 14px;
  line-height:21px;
}
.section-bg-1{
	background:url(../images/b_bg1.jpg) no-repeat center 65px; background-size:100% auto;
}
address {
  font-size: 13px;
}
h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 200;
}
h1.g-title{color:#2840af; font-size:22px; font-weight:bold;}
h1.g-title small{color:#252755; font-weight:bold;}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.logo{width:141px; height:auto;}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-default.navbar-scroll {
  background-color: none;
  border-color: #fff;
  padding: 15px 0;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  transition: all 0.3s ease-in-out 0s;
}
.navbar-default .nav li a {
  color: #333;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
.navbar-nav > li > a {
  padding-top: 25px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #ff904a;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #ff904a;
}
.navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
  color: #ff904a;
}
.navbar-default.navbar-scroll .navbar-nav > .active > a:focus {
  background: transparent;
  color: inherit;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background: #ff904a;
  color: #fff;
}
.navbar-default .navbar-brand {
  color: #fff;
  height: auto;
  display: block;
  font-size: 14px;
  padding: 15px 20px 15px 20px;
  border-radius: 0 0px 5px 5px;
  font-weight: 700;
  transition: all 0.3s ease-in-out 0s;
}
.navbar-scroll.navbar-default .nav li a {
  color: #333;
}
.navbar-scroll.navbar-default .nav li a:hover {
  color: #ff904a;
}
.navbar-wrapper .navbar.navbar-scroll {
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #e7eaec;
  border-radius: 0;
}
.nav > li > a {
  padding: 25px 10px 15px 10px;
}
.navbar-scroll .navbar-nav > li > a {
  padding: 20px 10px;
}
.navbar.navbar-scroll .navbar-brand {
  margin-top: 15px;
  border-radius: 5px;
  font-size: 12px;
  padding: 10px;
  height: auto;
}
.nav>li{float:left;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{background-color:rgba(232,242,254,0.5);}
.navbar-default.navbar-scroll{ background: none;}
.navbar-wrapper .navbar.navbar-scroll{padding:0; }
.navbar-wrapper .navbar-header{background:#fff;}
@media (max-width: 768px){
.navbar-default {
    background: none;
    border-color: #fff;
    padding: 15px 0;
}
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background: none;}
.navbar-default .navbar-toggle{border: none;}
/* BACKGROUNDS SLIDER
-------------------------------------------------- */
.header-back {
  height: 470px;
  width: 100%;
}
.header-back.one {
  background: url('../img/header_one.jpg') 50% 0 no-repeat;
}
.header-back.two {
  background: url('../img/header_two.jpg') 50% 0 no-repeat;
}
.header-back.three {
  background: url('../img/header_three.png') 50% 0 no-repeat;
}
.header-back.four {
  background: url('../img/header_four.jpg') 50% 0 no-repeat;
}
.change-btn{
	border:1px solid #f8d3ba; border-radius:36px; width:110px; height:36px; vertical-align:top; margin-top:20px; text-align:center; line-height:30px !important; background:url(../images/rate-right.png) no-repeat 90px center; cursor:pointer;
}
.banner{color:#171717; font-size:24px; padding:18% 0 9%; line-height:30px; text-align:center; margin-top:70px;}
.banner .title{margin-bottom:3%;}
.banner .title span{color:#2840af;}
.banner .title span.txt{color:#171717; font-size:21px;}
.banner .small-title{color:#919daf; font-size:12px;}
.banner .small-title a{width:120px; height:40px; border-radius:40px; background:#4f73f6; font-size:15px; color:#fff; display:inline-block; text-align:center; line-height:41px; text-decoration:none; margin:10px auto 0;}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  height: 470px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 470px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 470px;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-control.left,
.carousel-control.right {
  background: none;
}
.carousel-control {
  width: 6%;
}
.carousel-inner .container {
  position: relative;
}
.carousel-inner {
  overflow: visible;
}
.carousel-caption {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: auto;
  right: auto;
  text-align: left;
}
.carousel-caption {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: auto;
  right: auto;
  text-align: left;
}
.carousel-caption.blank {
  top: 140px;
}
.carousel-image {
  position: absolute;
  right: 10px;
  top: 150px;
}
.carousel-indicators {
  padding-right: 60px;
}
.carousel-caption h1 {
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: -1.5px;
}
.carousel-caption p {
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: none;
}
.caption-link {
  color: #fff;
  margin-left: 10px;
  text-transform: capitalize;
  font-weight: 400;
}
.caption-link:hover {
  text-decoration: none;
  color: inherit;
}
/* Sections
------------------------- */
.services {
  padding-top: 20px;
  padding-bottom:20px;
}
.services{  text-align:center;}
.services h2 {
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: 600;
  color:#252755;
  margin:10px 0 20px 0;
}
.services p{ text-align:left;} 
.services .services-bg{
	background:#fff;
	padding:20px 15px;
	height:255px;
	margin-top:20%;
	box-shadow:0 0 15px rgba(53,101,253,0.2);
}
.features-block {
  margin-top: 10px;
}
.features-text {
  margin-top: 10px;
}
#Vision .features-text{overflow:hidden;}
.features-block img{padding-bottom:30px; width:50%; margin:0 25%;}
.features small {
  color: #1ab394;
}
.features h2 {
  font-size: 15px;
  margin-top: 5px;
  color:#252755;
  font-weight:bold;
}
.features-text-alone {
  margin: 40px 0;
}
.features-text-alone h1 {
  font-weight: 200;
}
.features-icon {
  color: #1ab394;
  font-size: 40px;
}
.navy-section {
  margin-top: 10px;
  color: #fff;
  padding: 20px 0;
}
.gray-section {
  background: #f4f4f4;
  margin-top: 60px;
}
.team-member {
	width:100%;
	margin:-63px auto 0;
  text-align: center;
   background:#fff;
   padding: 15px;
   height:392px;
    box-shadow:0 0 25px rgba(53,101,253,0.2);
}
.team-member img {
  margin: auto;
}
.team-member h4{
	color:#252755;
	font-size:22px;
	border-bottom:1px solid #eceef6;
	padding-bottom:10px;
}
.team-member .blue-txt{
	color:#2840af;
	font-size:18px;
}
.Mentors .team-member{width:100%; height:auto; background:none;box-shadow:0 0 0 rgba(53,101,253,0);}
.Mentors .team-member h4{border:none; padding-bottom:0; margin-bottom:0; line-height:35px; }
.social-icon a {
  background: #1ab394;
  color: #fff;
  padding: 4px 8px;
  height: 28px;
  width: 28px;
  display: block;
  border-radius: 50px;
}
.social-icon a:hover {
  background: #17a185;
}
.img-small {
  height: 88px;
  width: 88px;
}
.pricing-plan {
  margin: 20px 30px 0 30px;
  border-radius: 4px;
}
.pricing-plan.selected {
  transform: scale(1.1);
  background: #f4f4f4 ;
}
.pricing-plan li {
  padding: 10px 16px;
  border-top: 1px solid #e7eaec;
  text-align: center;
  color: #aeaeae;
}
.pricing-plan .pricing-price span {
  font-weight: 700;
  color: #1ab394;
}
li.pricing-desc {
  font-size: 13px;
  border-top: none;
  padding: 20px 16px ;
}
li.pricing-title {
  background: #1ab394;
  color: #fff;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  font-size: 22px;
  font-weight: 600;
}
.testimonials {
  padding-top: 10px;
  padding-bottom: 10px;
}
.testimonials img{width:50%; margin:5% 25%;}
.big-icon {
  font-size: 56px;
}
.features .big-icon {
	width:50px;
	color: #1ab394;
	margin-bottom:61px;
}
.contact {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 10px 0 20px 0;
}
/* Buttons - only primary custom button
------------------------- */
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}
.btn-primary {
  background-color: #1ab394;
  border-color: #1ab394;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 600;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #18a689;
  border-color: #18a689;
  color: #FFFFFF;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled],
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #1dc5a3;
  border-color: #1dc5a3;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .carousel-image {
    display: none;
  }
}
@media (max-width: 768px) {
  .carousel-caption,
  .carousel-caption.blank {
    left: 5%;
    top: 80px;
  }
  .carousel-caption h1 {
    font-size: 28px;
  }
  .navbar.navbar-scroll .navbar-brand {
    margin-top: 6px;
  }
  .navbar-default {
    background-color: none;
    border-color: #fff;
    padding: 15px 0;
  }
  .navbar-default .navbar-nav > .active > a:focus {
    background: transparent;
    color: inherit;
  }
  .navbar-default .nav li a {
    color: #676a6c;
  }
  .navbar-default .nav li a:hover {
    color: #1ab394;
  }
  .navbar-wrapper .navbar {
    padding-top: 0;
    padding-bottom: 0px;
    box-shadow:0 0 25px rgba(53,101,253,0.2);
    border-radius: 0;
  }
  .nav > li > a {
    padding: 25px 10px 15px 10px;
  }
  .navbar-nav > li > a {
    padding: 20px 10px;
  }
  .navbar .navbar-brand {
    margin-top: 6px;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    height: auto;
  }
  .navbar-wrapper .navbar {
    padding-left:0px;
    padding-right: 0px;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover {
    color: inherit;
  }
  .carousel-control {
    display: none;
  }
}
@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
/* MARGINS & PADDINGS
-------------------------------------------------- */
.p-xxs {
  padding: 5px;
}
.p-xs {
  padding: 10px;
}
.p-sm {
  padding: 15px;
}
.p-m {
  padding: 20px;
}
.p-md {
  padding: 25px;
}
.p-lg {
  padding: 30px;
}
.p-xl {
  padding: 40px;
}
.m-xxs {
  margin: 2px 4px;
}
.m-xs {
  margin: 5px;
}
.m-sm {
  margin: 10px;
}
.m {
  margin: 15px;
}
.m-md {
  margin: 20px;
}
.m-lg {
  margin: 30px;
}
.m-xl {
  margin: 50px;
}
.m-n {
  margin: 0 !important;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 20px;
}
.m-l-lg {
  margin-left: 30px;
}
.m-l-xl {
  margin-left: 40px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-md {
  margin-left: -20px;
}
.m-l-n-lg {
  margin-left: -30px;
}
.m-l-n-xl {
  margin-left: -40px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 20px;
}
.m-t-lg {
  margin-top: 30px;
}
.m-t-xl {
  margin-top: 40px;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n {
  margin-top: -15px;
}
.m-t-n-md {
  margin-top: -20px;
}
.m-t-n-lg {
  margin-top: -30px;
}
.m-t-n-xl {
  margin-top: -40px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xxs {
  margin-right: 1px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r {
  margin-right: 15px;
}
.m-r-md {
  margin-right: 20px;
}
.m-r-lg {
  margin-right: 30px;
}
.m-r-xl {
  margin-right: 40px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-md {
  margin-right: -20px;
}
.m-r-n-lg {
  margin-right: -30px;
}
.m-r-n-xl {
  margin-right: -40px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xxs {
  margin-bottom: 1px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 20px;
}
.m-b-lg {
  margin-bottom: 30px;
}
.m-b-xl {
  margin-bottom: 40px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-md {
  margin-bottom: -20px;
}
.m-b-n-lg {
  margin-bottom: -30px;
}
.m-b-n-xl {
  margin-bottom: -40px;
}
.space-15 {
  margin: 15px 0;
}
.space-20 {
  margin: 20px 0;
}
.space-25 {
  margin: 25px 0;
}
.space-30 {
  margin: 30px 0;
}
/* PACE PLUGIN
-------------------------------------------------- */
.pace .pace-progress {
  background: #fff;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
.pace-inactive {
  display: none;
}
#Application .col-md-3{ background:#fff; padding:15px 15px;}
#QA .features-text{margin-bottom:20px;}
.inp-text{width:100%; display:block; height:50px; background:#fff;border:1px solid #f9f9f9;box-shadow:0 5px 15px rgba(53,101,253,0); }
.contact .form-group{ box-shadow:0 5px 15px rgba(53,101,253,0.1);}
.btn-sign{width:120px; height:40px; display:block; border:none; border-radius:40px; background:#ff6000; box-shadow:0 5px 15px rgba(255,135,81,0.4); color:#fff; font-weight:bold; margin:0 auto;}
.btn-sign:hover{color:#fff;}
.footer{background:#15184f; padding:10% 0;}
.footer .list-inline img{width:100%; height:auto;}
.footer .list-inline li{width:40px;}
.testimonials-text{background:url(../images/time.png) no-repeat center; background-size:auto 100%; overflow:hidden; margin-top:20px;}
.testimonials-text .left{ position:relative; width:50%; border-right:2px solid #5c9afd;}
.testimonials-text .right{ position:relative;width:50%;}
.testimonials-text h2{color:#252658; font-weight:bold; font-size:14px; margin-top:0;}
.testimonials-text ul{padding-left:0;}
.testimonials-text .left li ,.testimonials-text .right li{ position:relative; background:#fff;box-shadow:-2px 6px 5px rgba(53,101,253,0.1); padding:5px 0px 5px 5px; margin:0 5px 15px 0;}
.testimonials-text .left li img,.testimonials-text .right li img{ position:absolute;  width:15px; height:15px; margin:0;}

.testimonials-text .left li img{right:-28px; top:30%;}
.testimonials-text .left li img.arrow{right:-7px; width:8px; height:auto; top:30%;}
.testimonials-text .left li{margin-right:20px;}
.testimonials-text .right ul{margin-top:50px;}
.testimonials-text .right li{margin-left:20px;}
.testimonials-text .right li img{left:-28px; top:30%;}
.testimonials-text .right li img.arrow{left:-7px; width:8px; height:auto; top:30%;}
/*轮播*/
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 60%;
}
.swiper-slide {
	background:none;
  	width: 70%;
	height:469px;
}
.swiper-pagination-bullet{width:10px; height:10px; background:#fff; border:2px solid #bad1e7; opacity:1;}
.swiper-pagination-bullet-active{width:10px; height:10px; background:#fff; border:3px solid #3a9eff;}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:0;}
.team-section{ background:url(../images/b_bg3.jpg) no-repeat 0 0; background-size:100% auto;}
.section-bg-2{ background:url(../images/b_bg2.jpg) no-repeat 0 0; background-size:100% auto;}